flow.json
[{"id":"7a6bfe47.300fc","type":"tab","label":"RGB LED control","disabled":false,"info":""},{"id":"5f1705ee.85dd3c","type":"subflow","name":"Jupiter GPIO Write","info":"A node for writing the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":140,"wires":[{"id":"6966a511.22cb1c"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"838df258.998ec","type":"subflow","name":"Jupiter GPIO Mode","info":"A node for setting the Jupiter Boards GPIO pin mode. It uses the wiringPI library in command line fashion. \n\nThe mode can be one of the following string:\n- \"in\"  : digital input mode.\n- \"out\" : digital output mode.\n- \"pwm\" : PWM output mode.\n- \"up\"  : internal pull-up enabled.\n- \"down\": internal pull-down enabled.\n- \"tri\" : tri-state mode enabled.\n\nConfiguration parameters:\n- \"pin\" : the GPIO pin number as a string.\n- \"mode\": the GPIO mode as one of the above.","category":"","in":[{"x":200,"y":140,"wires":[{"id":"393a5fca.e731f"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}},{"name":"mode","type":"str","value":"out"}],"color":"#C0DEED","icon":"node-red/cog.svg"},{"id":"b90ad033.ebbbd","type":"ui_group","z":"","name":"Blue LED","tab":"546c6fb4.c2fa6","order":1,"disp":true,"width":"6","collapse":false},{"id":"108ab1a8.c771de","type":"ui_group","z":"","name":"Red LED","tab":"546c6fb4.c2fa6","order":2,"disp":true,"width":"6","collapse":false},{"id":"9eed2a6f.3b5148","type":"ui_group","z":"","name":"Green LED","tab":"546c6fb4.c2fa6","order":3,"disp":true,"width":"6","collapse":false},{"id":"546c6fb4.c2fa6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b54ca2ff.e5b84","type":"exec","z":"5f1705ee.85dd3c","command":"gpio write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Write","x":510,"y":140,"wires":[[],[],[]]},{"id":"6966a511.22cb1c","type":"function","z":"5f1705ee.85dd3c","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["b54ca2ff.e5b84"]]},{"id":"393a5fca.e731f","type":"function","z":"838df258.998ec","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + env.get(\"mode\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["e6e6096d.8ed118"]]},{"id":"e6e6096d.8ed118","type":"exec","z":"838df258.998ec","command":"gpio mode ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Mode","x":550,"y":140,"wires":[[],[],[]]},{"id":"31bd09dd.90a446","type":"subflow:838df258.998ec","z":"7a6bfe47.300fc","name":"","env":[{"name":"pin","value":"7","type":"str"}],"x":370,"y":100,"wires":[]},{"id":"52e4250c.2bb80c","type":"inject","z":"7a6bfe47.300fc","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["31bd09dd.90a446"]]},{"id":"2ed3bc9b.e67024","type":"subflow:5f1705ee.85dd3c","z":"7a6bfe47.300fc","name":"","env":[{"name":"pin","value":"7","type":"str"}],"x":550,"y":160,"wires":[]},{"id":"83d86000.5c189","type":"trigger","z":"7a6bfe47.300fc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":330,"y":160,"wires":[["2ed3bc9b.e67024"]]},{"id":"4b6b57cd.7658b8","type":"inject","z":"7a6bfe47.300fc","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["83d86000.5c189"]]},{"id":"bf67c2ef.e9f56","type":"i2c out","z":"7a6bfe47.300fc","name":"","busno":"1","address":"56","command":"33","payload":"","payloadType":"num","count":"0","x":310,"y":240,"wires":[["bed2a097.4830d"]]},{"id":"4a36997d.2ab648","type":"inject","z":"7a6bfe47.300fc","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"str","x":130,"y":240,"wires":[["bf67c2ef.e9f56"]]},{"id":"bed2a097.4830d","type":"debug","z":"7a6bfe47.300fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]},{"id":"1e0e0dd6.b68eb2","type":"i2c out","z":"7a6bfe47.300fc","name":"","busno":"1","address":"56","command":"","payload":"0","payloadType":"num","count":"0","x":650,"y":320,"wires":[[]]},{"id":"633d3988.604c18","type":"function","z":"7a6bfe47.300fc","name":"Blue PWM","func":"msg.command = ((msg.payload*0.8)/3) + 64;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":320,"wires":[["80a853fb.b60a"]]},{"id":"80a853fb.b60a","type":"change","z":"7a6bfe47.300fc","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"$string(command)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["1e0e0dd6.b68eb2"]]},{"id":"1f10e9f9.ecd3e6","type":"ui_slider","z":"7a6bfe47.300fc","name":"","label":"B","tooltip":"","group":"b90ad033.ebbbd","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":110,"y":320,"wires":[["633d3988.604c18"]]},{"id":"7f00f5c1.f0ff3c","type":"i2c out","z":"7a6bfe47.300fc","name":"","busno":"1","address":"56","command":"","payload":"","payloadType":"num","count":"0","x":650,"y":400,"wires":[[]]},{"id":"e5bd4b0b.7510f8","type":"function","z":"7a6bfe47.300fc","name":"Red PWM","func":"msg.command = ((msg.payload*0.8)/3) + 96;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":400,"wires":[["d55d569f.ebed08"]]},{"id":"d55d569f.ebed08","type":"change","z":"7a6bfe47.300fc","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"$string(command)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":400,"wires":[["7f00f5c1.f0ff3c"]]},{"id":"83791967.aec048","type":"ui_slider","z":"7a6bfe47.300fc","name":"","label":"R","tooltip":"","group":"108ab1a8.c771de","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":110,"y":400,"wires":[["e5bd4b0b.7510f8"]]},{"id":"24f24ce6.875e04","type":"i2c out","z":"7a6bfe47.300fc","name":"","busno":"1","address":"56","command":"","payload":"","payloadType":"num","count":"0","x":650,"y":480,"wires":[[]]},{"id":"c65d28c3.e5ffe8","type":"function","z":"7a6bfe47.300fc","name":"Green PWM","func":"msg.command = ((msg.payload*0.8)/3) + 128;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":480,"wires":[["9c38a6fd.932ec8"]]},{"id":"9c38a6fd.932ec8","type":"change","z":"7a6bfe47.300fc","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"$string(command)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":480,"wires":[["24f24ce6.875e04"]]},{"id":"53d66014.13b01","type":"ui_slider","z":"7a6bfe47.300fc","name":"","label":"G","tooltip":"","group":"9eed2a6f.3b5148","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":110,"y":480,"wires":[["c65d28c3.e5ffe8"]]},{"id":"b7151ef2.406ad","type":"lfo-node","z":"7a6bfe47.300fc","name":"","waveform":"sine","frequency":"0.5","samplingrate":"20","x":270,"y":580,"wires":[["d7b6f22a.121fe"]]},{"id":"e4d87800.5210d8","type":"debug","z":"7a6bfe47.300fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":580,"wires":[]},{"id":"279a00e9.87058","type":"inject","z":"7a6bfe47.300fc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":580,"wires":[["b7151ef2.406ad"]]},{"id":"d7b6f22a.121fe","type":"function","z":"7a6bfe47.300fc","name":"","func":"msg.payload = (msg.payload + 1) * 50;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["a987c8b3.acfcd8"]]},{"id":"a987c8b3.acfcd8","type":"calculator","z":"7a6bfe47.300fc","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"rdec","constant":"0","round":false,"decimals":0,"x":620,"y":580,"wires":[["e4d87800.5210d8"]]},{"id":"14232f2d.904921","type":"catch","z":"7a6bfe47.300fc","name":"","scope":["bf67c2ef.e9f56","1e0e0dd6.b68eb2","7f00f5c1.f0ff3c","24f24ce6.875e04"],"uncaught":false,"x":110,"y":640,"wires":[[]]}]